@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}
body{
    background-color: rgba(35,35,35,255);
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}

.img1{
    margin-top: 2rem;
}

.carasolcont{
    margin-top: 5rem;
}